.newFont{
    font-family: "Nunito Sans", sans-serif;
}

@media screen and (max-width:768px){

    .heading-new{
        display: flex;
        flex-direction: column;
        gap:1rem;
        font-size: x-large;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;       
    }
}