.reasons{
    padding: 0 2rem;
    display: flex;
    gap: 2rem ;
}

.left-r{
    flex:1 1;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap:1rem;
    grid-auto-rows: 1fr;
}
.left-r>img{
    object-fit: cover;
}
.left-r>:nth-child(3){
    width:12rem;
    grid-row:1/3;
    height:33rem;


}
.right-r{
    flex:1 1;
}

.right-r>h1{
    font-weight: bold;
    font-size: 1.5rem;
    color:var(--orange)
}

.right-r>span{
    color:white;
    font-size: 4rem;
}

.details-r{
    display:flex;
    flex-direction: column;
    font-size: 1rem;
    gap:1rem
}

@media screen and (max-width:768px){
    .reasons{
        flex-direction: column;
    }
}